<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookStore1.0</display-name>
  <servlet>
    <servlet-name>ActivateMail</servlet-name>
    <servlet-class>sise.bookstore.Servlet.ActivateMail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>sise.bookstore.Servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserActivate</servlet-name>
    <servlet-class>sise.bookstore.Servlet.UserActivate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductsCategory</servlet-name>
    <servlet-class>sise.bookstore.Servlet.ProductsCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateMail</servlet-name>
    <url-pattern>/ActivateMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserActivate</servlet-name>
    <url-pattern>/UserActivate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductsCategory</servlet-name>
    <url-pattern>/ProductsCategory</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>sise.bookstore.Filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
        <servlet-name>ProductsCategory</servlet-name>
  </filter-mapping>
</web-app>